.wine-search-container {
    width: $content-width;
    margin: auto;
    margin-top: 20px;
    display: flex;

    .wine-search-brand-container {
        width: 50%;

        input {
            padding: 6px 12px 6px 12px;
            font-size: 16px;
            outline: none;
            border: 1px solid black;
            border-radius: 10px;

            &:focus {
                outline: 2px solid lightsteelblue;
            }
        }

        li {
            margin-top: 10px;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .wine-search-form {
        display: flex;
        flex-direction: column;

    }

    .wine-search-submit-container {
        width: 100%;
        display: flex;

        .wine-search-submit {
            padding: 6px 12px 6px 12px;
            margin: auto;
            margin-top: 10px;
            font-size: 16px;
            color: black;
            border: 2px solid black;
            background-color: white;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        }
    }
}

.search-results-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .search-results-header {
        margin-left: 15%;
    }
}