.header-wrapper {
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
}

.grid-layout {
    display: grid;
    grid-template-columns: 7% 11fr 1fr 7fr 7%;
}
.left-column {
    grid-column-start: 2;
    grid-column-end: 3;
}

.right-column {
    grid-column-start: 4;
    grid-column-end: 5;
}

.one-column {
    grid-column-start: 2;
    grid-column-end: 5;
}