.simple-search-container {
    margin: auto;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 0 10% 0 10%;
    justify-content: space-around;

    .simple-search-box > input {
        padding: 5px 10px 5px 10px;
        outline: none;
        border: 1px solid black;
        border-radius: 10px;

        &:focus {
            outline: 2px solid lightsteelblue;
        }
    }   
}