.simple-search-container {
    margin: auto;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 0 10% 0 10%;
    justify-content: space-around;

    .simple-search-box > input {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
        outline: none;
        border: 1px solid black;
        border-radius: 10px;

        &:focus {
            outline: 2px solid lightsteelblue;
        }
    }

    .simple-search-submit-button {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
        color: black;
        border: 2px solid black;
        background-color: white;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
}