.simple-search-header {
    margin: 20px auto 20px auto;
    width: $content-width;

    .simple-search-container {
        margin: auto;
        display: flex;   
        justify-content: space-between;

        .simple-search-box > input {
            padding: 6px 12px 6px 12px;
            font-size: 16px;
            outline: none;
            border: 1px solid black;
            border-radius: 10px;

            &:focus {
                outline: 2px solid lightsteelblue;
            }
        }

        .simple-search-submit-button {
            padding: 6px 12px 6px 12px;
            font-size: 16px;
            color: black;
            border: 2px solid black;
            background-color: white;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        }
    }
    
    .advanced-search-link {
            margin-top: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
}

.home-image-header {
    height: 200px;
    width: $content-width;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    background-image: url("/cork_header.jpg");
    border-radius: 10px;
    
    .home-image-header-overlay {
        height: 100%;
        background: rgba(0,0,0,0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: #FFF;
            font-size: 32px;
            font-weight: 600;
        }

        h3 {
            color: #FFF;
            font-size: 32px;
            font-weight: 500;
        }
    }
    
}

